* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
}

header {
  display: inline-block;
  text-align: center;
 background-color: orange;
 width: 100%; 
}

nav {
  background-color: orangered;
  text-align: right;
}

nav li {
  display: inline;
  margin: 10px;
  font-size: large;
  font-weight: 800;
}

.fotostomatopoda {
  border: 10px solid blue;
}

