* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
}

header {
  display: inline-block;
  text-align: center;
  background-color: orange;
  width: 100%;
}

#nav {
  background-color: orangered;
  text-align: right;
}

#nav li {
  display: inline;
  margin: 10px;
  font-size: large;
  font-weight: 800;
}

main {
  display: inline-block;
  width: 78%;
  height: 100%;
  position: absolute;
  background-color: orange;
}

img[src="imagens/primeirafoto.jpg"] {
  display: inline-block;
  width: 41%;
  height: 41%;
}

#right-photo {
  display: inline-block;
  height: 385px;
  width: 45%;
  height: 41%;
  position: absolute;
  
}

#right-photo h2 {
  padding-left: 225px;

}

#right-photo p {
  font-style: italic;
  padding-left: 235px;
}

#right-photo h2, #right-photo p {
  background-color: orangered;
  padding-right: 200px;

}

#general-info {
  width: auto;
  height: 335px;
  padding-top: 50px;
  padding-left: 200px; 
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

#interesting-facts-area {
  height: 400px;
  width: 1430px;
  display: inline-block
}

#interesting-facts-area h3 {
  text-align: center;
}

#vision h4 {
  text-align: center;
}

#vision {

  height: 375px;
  width: 735px;
  display: inline-block;
}

#vision img {
  padding-left: 200px;
}



#punch {
  width: 680px;
  height: 380px;
  display: inline-block;
  position: absolute;
}

#punch h4 {
  text-align: center;
}

#punch img {
 padding-left: 80px;
}

#footer {
  display: inline;
}

#refs li {
  display: inline;
}



